<template>
    <div>
        <h1>Расчет стоимости доставки</h1>
        <table v-if="!loading" class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">ADDRESS</th>
                <th scope="col">DISTANCE</th>
                <th scope="col">TYPE</th>
                <th scope="col">COST</th>
                <th v-if="isAdmin" scope="col">ACTIONS
                    <button title="Добавить посылку" type="button" class="btn btn-success" @click="addPosts()">+</button>
                </th>
            </tr>
            </thead>
            <tbody>
            <template v-if="isAdmin && action === 'add'">
                <tr>
                    <th scope="row"></th>
                    <td class="text-left">
                        <input v-model="updateModel.address" class="form-control">
                    </td>
                    <td>
                        <input type="number" v-model="updateModel.distance" class="form-control">
                    </td>
                    <td>
                        <select class="form-control" name="" v-model="updateModel.type">
                            <option value="in"> {{type('in')}}</option>
                            <option value="out"> {{type('out')}}</option>
                        </select>
                    </td>
                    <td class="text-right">{{ cost(updateModel) }} RUR</td>
                    <td v-if="isAdmin" class="text-right">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Small button group">
                            <button type="button" class="btn btn-secondary" @click="cancel()">Отмена</button>
                            <button type="button" class="btn btn-secondary" @click="savePost(null)">Сохранить</button>
                        </div>
                    </td>
                </tr>
            </template>
            <template v-if="posts">
                <tr v-for="(post, index) in posts" :key="index">
                    <th scope="row">{{Number(index) + 1}}</th>
                    <td class="text-left">
                        <template v-if="indexUpdate === index">
                            <input v-model="updateModel.address" class="form-control">
                        </template>
                        <template v-else>
                            {{ post.address }}
                        </template>
                    </td>
                    <td>
                        <template v-if="indexUpdate === index">
                            <input type="number" v-model="post.distance" class="form-control">
                        </template>
                        <template v-else>
                            {{ post.distance }} км.
                        </template>
                    </td>
                    <td>
                        <template v-if="indexUpdate === index">
                            <select class="form-control" name="" v-model="post.type">
                                <option value="in"> {{type('in')}}</option>
                                <option value="out"> {{type('out')}}</option>
                            </select>
                        </template>
                        <template v-else>
                            {{ type(post.type) }} км.
                        </template>

                    </td>
                    <td class="text-right">{{ cost(post) }} RUR</td>
                    <td v-if="isAdmin" class="text-right">
                        <div v-if="!indexUpdate && action !== 'add'" class="btn-group btn-group-sm" role="group"
                             aria-label="Small button group">
                            <button type="button" class="btn btn-secondary" @click="deletePost(index)">Удалить</button>
                            <button type="button" class="btn btn-secondary" @click="updatePost(post,index)">
                                Редактировать
                            </button>
                        </div>
                        <div v-else-if="indexUpdate === index && action === 'update'" class="btn-group btn-group-sm" role="group" aria-label="Small button group">
                            <button type="button" class="btn btn-secondary" @click="cancel()">Отмена</button>
                            <button type="button" class="btn btn-secondary" @click="savePost(post)">Сохранить</button>
                        </div>
                    </td>
                </tr>
            </template>
            </tbody>
        </table>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex';

    export default {
        name: "Home",
        data() {
            return {
                loading: false,
                posts: false,
                typeDelivery: {
                    "in": "Внутренняя доставка",
                    "out": "Доставка за рубеж",
                },
                indexUpdate: null,
                action: '',
                updateModel: {address: null, "type": null, "distance": null},
            }
        },
        computed: {
            ...mapGetters({
                user: 'auth/authUser',
                postsComputed: 'delivery/lists',
            }),
            isAdmin() {
                return window.$gate.isAdmin(this.user)
            }
        },
        created() {
            this.loading = true
            this.$store.dispatch('delivery/fetchPosts')
                .then(() => {
                    this.loading = false
                }).then(() => {
                this.posts = Object.assign({}, JSON.parse(this.postsComputed))
            })
        },
        methods: {
            // eslint-disable-next-line no-unused-vars
            savePost(posts) {

                let dispashName = '';
                // When adding a post
                if(this.action === 'add'){
                    dispashName = 'delivery/addPost'
                    // search max index
                    let maxIndexArray = Object.keys(this.posts);
                    this.posts[Math.max(...maxIndexArray) + 1] = Object.assign({}, this.updateModel)
                }else{
                    dispashName = 'delivery/updatePost'
                    posts = Object.assign({}, this.updateModel);
                }

                this.$store.dispatch(dispashName, this.posts)
                    .then(() => {
                        this.posts = Object.assign({}, JSON.parse(this.postsComputed))
                    }).then(() => {
                    this.clear();
                })
            },
            updatePost(post, index) {
                this.action = 'update'
                this.indexUpdate = index;
                this.updateModel = Object.assign({}, post);
            },
            addPosts() {
                this.clear();
                this.action = 'add'
            },
            clear() {
                this.indexUpdate = null;
                this.action = ''
                this.updateModel = {address: null, "type": null, "distance": null};
            },
            deletePost(index) {

                delete this.posts[index]
                this.$store.dispatch('delivery/deletePost', this.posts)
                    .then(() => {
                        this.posts = Object.assign({}, JSON.parse(this.postsComputed))
                    })
            },
            type(type) {
                return this.typeDelivery[type];
            },
            cost(post) {
                switch (post.type) {
                    default:
                    case 'in':
                        return post.distance * 3
                    case 'out':
                        return post.distance * 5
                }
            }
        }
    }
</script>

<style scoped>

</style>