<template>
    <div>
        <div class="wrapper">
            <div id="formContent">
                <h1>Вход</h1>

                <!-- Login Form -->
                <form class="login" @submit.prevent="login">
                    <div class="form-group">
                        <input id="email" required v-model="email" type="email" class="form-control" placeholder="Email"/>
                    </div>
                    <div class="form-group">
                        <input id="password" required v-model="password" type="password" class="form-control"
                               placeholder="Password"/>
                    </div>

                    <hr/>
                    <button type="submit" class="btn btn-lg btn-primary btn-block">Login</button>
                </form>
            </div>
        </div>
        <table class="table">
            <tr>
                <th>email</th>
                <th>password</th>
                <th>Роли</th>
            </tr>
            <tr>
                <td>user@test.ru</td>
                <td>user</td>
                <td>нет ролей</td>
            </tr>
            <tr>
                <td>admin@test.ru</td>
                <td>Admin</td>
                <td>может редактировать/добавлять/удалят посылки</td>
            </tr>
        </table>
    </div>
</template>

<script>
    export default {
        name: "Login",
        data() {
            return {
                email: "",
                password: ""
            }
        },
        methods: {
            login() {
                let email = this.email
                let password = this.password
                this.$store.dispatch('auth/login', {email, password})
                    .then((token) => {
                        // eslint-disable-next-line no-console
                        console.log(window.axios)
                        this.$http.defaults.headers.common['Authorization'] = token
                    })
                    .then(() => this.$router.push('/'))
                    .catch(err => {
                        // eslint-disable-next-line no-console
                        console.log(err)
                    })
            }
        }
    }
</script>

<style scoped>
    .wrapper{
        display:flex;
        align-items:center;
        flex-direction:column;
        justify-content:center;
        width:100%;
        min-height:100%;
        padding:20px;
    }

    #formContent{
        -webkit-border-radius:10px 10px 10px 10px;
        border-radius:10px 10px 10px 10px;
        background:#fff;
        padding:30px;
        width:90%;
        max-width:450px;
        position:relative;
        -webkit-box-shadow:0 30px 60px 0 rgba(0, 0, 0, 0.3);
        box-shadow:0 30px 60px 0 rgba(0, 0, 0, 0.3);
        text-align:center;
    }
</style>