<template>
    <div id="app">
        <header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">

            <div class="navbar-nav-scroll">
                <ul class="navbar-nav bd-navbar-nav flex-row">
                    <li class="nav-item">
                        <router-link class="nav-link" to="/">Расчет стоимости доставки</router-link>
                    </li>
                    <li class="nav-item">
                        <router-link class="nav-link" to="/secure">Только для зарег-ных пользователей</router-link>
                    </li>
                </ul>
            </div>

            <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
                <li class="nav-item" v-if="isLoggedIn"><a href="#" class="nav-link" @click="logout">Logout</a></li>
                <li class="nav-item" v-else>
                    <router-link class="nav-link" to="/login">login</router-link>
                </li>
            </ul>
        </header>
        <router-view/>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex';
    import 'bootstrap/dist/css/bootstrap.min.css';

    export default {
        name: 'app',
        computed: {
            ...mapGetters({
                isLoggedIn: 'auth/isLoggedIn',
                authUser: 'auth/authUser',
            })
        },
        methods: {
            logout: function () {
                this.$store.dispatch('auth/logout')
                    .then(() => {
                        delete this.$http.defaults.headers.common['Authorization']
                    })
                    .then(() => {
                        this.$router.push('/login')
                    })
            }
        },
        created: function () {
            this.$http.interceptors.response.use(undefined, function (err) {
                return new Promise(function () {
                    if (err.status === 401) {
                        this.logout()
                    }
                    throw err;
                });
            });
        }
    }
</script>

<style>
    #app{
        font-family:'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing:antialiased;
        -moz-osx-font-smoothing:grayscale;
        text-align:center;
        color:#2c3e50;
    }
    .bd-navbar{background:#37679a}
</style>
